.header {
  height: 65px !important;
}

.left-sidebar {
  width: 200px;
}

.content {
}

.right-sidebar {
  width: 260px;
}

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*border: solid 3px yellow; !* for debugging purposes *!*/
  box-sizing: border-box;
  overflow: hidden;
}
