<app-base>
  <div class="grid grid-nogutter h-full">
    <div class="col-12">
      <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="col-12 container">
      <div class="flex flex-column justify-content-end h-full">
        <div class="flex w-full justify-content-center mb-3 pl-3 pr-3">
          <span class="explore">What do you want to talk about?</span>
        </div>
        <!-- prompt input -->
        <div class="mb-3 pl-3 pr-3">
          <form [formGroup]="promptForm" (ngSubmit)="createThread()" class="w-full">
          <textarea
            #promptInput
            formControlName="prompt"
            class="w-full prompt-textarea mb-2"
            rows="5"
            pInputTextarea
            (keydown)="keyPressed($event)"
          >
        </textarea>
            <div class="flex justify-content-end">
              <p-button label="Enter" icon="pi pi-arrow-down" [disabled]="!promptForm.valid" [loading]="loading()" type="submit"></p-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</app-base>
