<!-- layout -->
<div class="grid grid-nogutter">
  <!-- title header -->
  <div class="col-12">
    <div class="flex align-items-center title">
      <i class="pi pi-bookmark mr-2"></i>
      Bookmarks
    </div>
  </div>
  <!-- search bar -->
  <div class="col-12">
    <div class="mb-2">
      <p-iconField iconPosition="left" class="search-input">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search bookmarks" [(ngModel)]="query" class="w-full" />
      </p-iconField>
    </div>
  </div>
  <!-- no bookmarks placeholder -->
  @if (bookmarks.length == 0) {
    <div class="col-12">
      <div class="bookmark-stub p-2 border">
        <div class="inner">
          <div class="flex justify-content-center">
            <i class="pi pi-bookmark mr-2 icon"></i>
          </div>
          Bookmark important pieces of your conversation to collect them here
        </div>
      </div>
    </div>
  }
</div>
