.search-input {
  width: 45%;
}
.search-container {
  ::ng-deep .p-dialog {
    width: 45%;
    border-radius: 0 0 4px 4px;
    border-left: 1px solid var(--surface-border);
    border-bottom: 1px solid var(--surface-border);
    border-right: 1px solid var(--surface-border);
    top: 65px;
    border-top: none;
    max-height: 50%;
    overflow-y: auto;
  }
  ::ng-deep .p-dialog-mask {
    align-items: start;
  }

  .search-result {
  }
}

.search-container :hover {
  .search-result :hover {
    background-color: dodgerblue;
  }
}
