<div class="w-full flex pb-3 container" (mouseenter)="hover = true" (mouseleave)="hover=false">
  <p-card>
    @if (hover) {
    <div class="actions-container">
      <div class="actions">
        <div class="flex">
          @if (bookmark) {
            <div class="action" pTooltip="Remove bookmark" tooltipPosition="bottom" >
              <p-button icon="pi pi-bookmark-fill" [rounded]="true" [text]="true" (onClick)="removeBookmark()" />
            </div>
          } @else {
            <div class="action" pTooltip="Bookmark this message" tooltipPosition="bottom" >
              <p-button icon="pi pi-bookmark" [rounded]="true" [text]="true" (onClick)="bookmarkMessage()" />
            </div>
          }
          <div class="action" pTooltip="Copy to clipboard" tooltipPosition="bottom">
            <p-button icon="pi pi-clipboard" [rounded]="true" [text]="true" [cdkCopyToClipboard]="message!.content" />
          </div>
          <div class="action" pTooltip="New thread" tooltipPosition="bottom">
            <p-button icon="pi pi-arrow-right" [rounded]="true" [text]="true" (onClick)="newThread()" />
          </div>
        </div>
      </div>
    </div>
    }
    <div class="flex">
      <!-- avatar  -->
      <div class="flex flex-column justify-content-start">
        <div class="mr-3">
          @if (!response) {
            <app-user-avatar></app-user-avatar>
          } @else {
            <app-agent-avatar></app-agent-avatar>
          }
        </div>
      </div>
      <div>
        <!-- sender, time, and content  -->
        <div class="mt-2 flex flex-column">
          <div class="mb-2">
            {{ sentByName | titlecase }} {{ sentAt }}
          </div>
          <div>
            @if (!response) {
              {{ message?.content }}
            } @else {
              @if (last) {
                @if(message?.response?.content) {
                  <app-typewriter
                    [words]="[message!.response!.content]"
                    [typeSpeed]="50"
                  >
                  </app-typewriter>
                } @else {
                    <app-typewriter
                      [words]="['|']"
                      [typeSpeed]="1000"
                    >
                    </app-typewriter>
                }
              }
            }
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>
