.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  /*height: 100%;*/
  /*place-content: center;*/
  /*align-items: center;*/
  /*align-content: center;*/
}

.item {
  display: grid;
  align-content: center;
}

.logo {
  display: grid;
  align-content: center;
}
