.explore {
  font-size: 1.375rem;
  font-weight: 500;
  letter-spacing: 0.01375rem;
}

textarea {
  resize: none;
}

::ng-deep .p-breadcrumb {
  background-color: transparent;
}

.container {
  height: calc(100vh - 110px);
}

.messages-container {
  overflow-y: auto;
  background-color: #75A5FD;
}
