.container {
  ::ng-deep .p-button {
    width: 44px;
    height: 44px;
    background-color: #4600B7;
    border: none;
  }

  ::ng-deep .p-button:hover {
    width: 44px;
    height: 44px;
    background-color: #4600B790;
    border: none;
  }

  ::ng-deep .pi {
    color: #926DD5;
  }
}




